In [59]:
import numpy as np 
import pandas as pd

In [72]:
df = pd.read_csv('pong_data.csv')
df

,ball_x,ball_y,ball_vx,ball_vy,paddle_direction,paddle_y,Ball.RADIUS,Paddle.L,Paddle.STEP,WIDTH,HEIGHT,BORDER,VELOCITY,FPS
0,770,200,-12,-1,0,200,10,80,20,800,400,20,12,30
1,770,200,-12,-1,0,200,10,80,20,800,400,20,12,30
2,758,199,-12,-1,0,200,10,80,20,800,400,20,12,30
3,746,198,-12,-1,0,200,10,80,20,800,400,20,12,30
4,734,197,-12,-1,0,200,10,80,20,800,400,20,12,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6300,194,320,12,-12,0,200,10,80,20,800,400,20,12,30
6301,206,308,12,-12,0,200,10,80,20,800,400,20,12,30
6302,218,296,12,-12,0,200,10,80,20,800,400,20,12,30
6303,230,284,12,-12,0,200,10,80,20,800,400,20,12,30
6304,242,272,12,-12,0,200,10,80,20,800,400,20,12,30

In [73]:
y = np.array(df['paddle_y'])

In [74]:
X = np.array(df[['ball_x','ball_y']])

In [75]:
X.shape

(6305, 2)

In [76]:
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split

In [78]:
X_train, X_test, y_train, y_test = train_test_split(X,y, shuffle=True,test_size=0.05)

In [79]:
X_train

array([[662,  89],
       [230,  43],
       [590, 285],
       ...,
       [158,  67],
       [266, 264],
       [638, 177]], dtype=int64)

In [80]:
clf = SVR()
clf.fit(X_train,y_train)

SVR()

In [81]:
clf.score(X_test,y_test)

0.9202350807012054

In [82]:
from joblib import dump, load 
dump(clf, 'mymodel.joblib') #save  
clf2 = load('mymodel.joblib')  #load

In [58]:
clf.predict(np.array([[100,100]]))

array([189.78385091])